<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 *ngIf="!esEditable" class="m-b-0 text-white">Nueva Categoria</h4>
                <h4 *ngIf="esEditable" class="m-b-0 text-white">Actualizar Categoria</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="categoriaForm" autocomplete="off">
                    <div class="form-body">
                        <h3 class="card-title">Información</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions mt-5">
                        <button *ngIf="!esEditable" type="submit" class="btn btn-success ml-2" [disabled]="!categoriaForm.valid" (click)="agregarCategoria()"><i class="fas fa-plus-circle"></i>  Agregar</button>
                        <button *ngIf="esEditable" type="submit" class="btn btn-primary ml-2" [disabled]="!categoriaForm.valid" (click)="actualizarCategoria()"><i class="fas fa-sync-alt"></i>  Guardar</button>
                        <button type="button" class="btn btn-inverse ml-2" (click)="cancelar()"><i class="fas fa-eraser"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>