<div class="card animated fadeIn fast">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-8">
                <h4 class="card-title">Proyectos MTI ({{Inscripciones.length}})</h4>
                <h6 class="card-subtitle">Proyectos MTI Registrados</h6>
            </div>
            <div class="col">
                <div class="text-right">
                    <a class="btn btn-primary" [routerLink]="['/dashboard/proyectosMTI/nuevo']" routerLinkActive="router-link-active"> <i class="fas fa-user-tie"></i> Nuevo Proyecto</a>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!cargando">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Nombre</th>
                        <th>Foto Portada</th>
                        <th class="w100 text-center text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of Inscripciones">
                        <td>{{proyecto.clienteObtenido.nombre}}</td>
                        <td>{{proyecto.nombre}}</td>
                        <td>
                            <img class="img-avatar cursor text-center" [src]="proyecto.fotoPortada" [alt]="proyecto.nombre">
                        </td>
                        <td class="w100 text- text-center">
                            <a [routerLink]="['/dashboard/categoria', proyecto.id]" class="ml-2" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a class="ml-2" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Borrar" (click)="deleteCliente(proyecto.id, proyecto.nombre)"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>