<div class="card animated fadeIn fast">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-8">
                <h4 class="card-title">Galeria ({{listadoGaleria.length}})</h4>
                <h6 class="card-subtitle">Galeria Registradas</h6>
            </div>
            <div class="col">
                <div class="text-right">
                    <a class="btn btn-primary" [routerLink]="['/dashboard/galeria/nuevo']" routerLinkActive="router-link-active"> <i class="far fa-images"></i> Crear Galeria</a>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!cargando">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Cliente</th>
                        <th class="w100 text-center text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let galeria of listadoGaleria">
                        <td>{{galeria.data.nombreProyecto}}</td>
                        <td>{{galeria.data.nombreCliente}}</td>
                        <td class="w100 text- text-center">
                            <a [routerLink]="['/dashboard/galeria', galeria.id]" (click)="galeriaId(galeria.id)" class="ml-2" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a class="ml-2" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Borrar" (click)="deleteGaleria(galeria.id, galeria.data.nombreProyecto)"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
