<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar animated fadeInLeftBig" style="background-image:url(../assets/images/background/background-1.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material"
                    autocomplete="off"
                    [formGroup]="loginForm"
                    (ngSubmit)="login()"
                    id="loginform">

                <a href="javascript:void(0)" class="text-center db">
                  <img src="../assets/images/logo-corasco-remove.png" alt="Home" width="180" height="130"/><br/>
                  </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control"
                                type="email"
                                placeholder="Correo"
                                formControlName="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control"
                                type="password"
                                placeholder="Contraseña"
                                formControlName="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup"
                                    type="checkbox"
                                    class="filled-in chk-col-light-blue"
                                    formControlName="remember">
                            <label for="checkbox-signup"> Recuerdame </label>
                        </div>
                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Olvidó Contraseña?</a> </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Iniciar Sesión</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
