<div class="container mt-5">
    <h1 class="text-info animated fadeInDown">Cliente Nuevo</h1>
    <hr>
    <form [formGroup]="formularioCliente" class="animated fadeInDownBig">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido" [class.is-invalid]="apellidoNoValido" [class.is-valid]="apellidoValido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" formControlName="correo" placeholder="Correo" [class.is-invalid]="correoNoValido" [class.is-valid]="correoValido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" formControlName="cedula" maxlength="16" placeholder="Cedula" [class.is-invalid]="cedulaNoValido" [class.is-valid]="cedulaValido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento" [class.is-invalid]="fechaNoValido" [class.is-valid]="fechaValido">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" formControlName="telefono" maxlength="9" placeholder="Telefono" [class.is-invalid]="telefonoNoValido" [class.is-valid]="telefonoValido">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" (change)="subirImagen($event)" class="form-control-file" formControlName="imgUrl">
                </div>
            </div>
            <div class="col-sm-12">
                <br>
                <progressbar [value]="progreso" type="danger" [striped]="true">{{progreso}}%</progressbar>
            </div>

            <button *ngIf="!esEditable" class="btn btn-primary ml-3 mt-5" [disabled]="formularioCliente.invalid" (click)="agregarCliente()"><i class="fas fa-plus-circle"></i>  Agregar</button>
            <button *ngIf="esEditable" class="btn btn-success ml-3 mt-5" [disabled]="formularioCliente.invalid" (click)="actualizarCliente()"><i class="fas fa-sync-alt"></i>  Actualizar</button>
        </div>
    </form>
</div>
