<div class="container mt-5 animated fadeIn">
    <div class="row">
        <div class="col-md-7 animated fadeInLeftBig">
            <h1 class="display-4">🐱 Gatos 🐱</h1>
            <form (ngSubmit)="newCat(newCatForm.value)" [formGroup]="newCatForm">
                <input type="hidden" formControlName="id">
                <label for="nombre">Nombre</label>
                <input class="form-control" type="text" formControlName="nombre" name="nombre">
                <label for="url_img">Imagen</label>
                <input class="form-control" type="url" formControlName="url" name="url_img">
                <br>
                <button class="btn btn-primary shadow" [disabled]="!newCatForm.valid" value="Agregar">Agregar</button>
            </form>
        </div>
        <div class="col-md-5">
            <div class="animated fadeInRightBig">
                <div class="card-columns shadow-lg mt-3" style="width: 18rem;" *ngFor="let cat of cats">
                    <img [src]="cat.data.url" class="card-img-top" [alt]="cat.data.nombre">
                    <div class="card-body">
                        <h5 class="card-title">{{cat.data.nombre}}</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-success" (click)="editCat(cat.id)">Editar</button>
                            <button class="btn btn-danger" (click)="deleteCat(cat.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
