<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <app-seleccionar-cliente [nombre]="clienteSeleccionado.nombre" (seleccionoCliente)="asignarCliente($event)" (canceloCliente)="eliminarCliente()">
            </app-seleccionar-cliente>
            <div class="pb-3">
                <label for="">Precios</label>
                <select [(ngModel)]="idPrecio" (change)="seleccionoPrecio($event.target.value)" class="form-control" name="" id="">
                <option [value]="null"> -- Seleccione precio</option>
                <option *ngFor="let precio of precios"  [value]="precio.id"> {{precio.nombre}}</option>
            </select>
            </div>
            <div class="pb-3">
                <label for="">Fecha Inicio</label>
                <input type="text" class="form-control" [value]="inscripcion.fechaInicio | date" disabled>
            </div>
            <div class="pb-3">
                <label for="">Fecha Finalización</label>
                <input type="text" class="form-control" [value]="inscripcion.fechaFinal | date" disabled>
            </div>
            <div class="pb-3">
                <label for="">Subtotal</label>
                <input type="text" class="form-control" [value]="inscripcion.subtotal | currency: 'C$'" disabled>
            </div>
            <div class="pb-3">
                <label for="">IVA</label>
                <input type="text" class="form-control" [value]="inscripcion.iva | currency: 'C$'" disabled>
            </div>
            <div class="pb-3">
                <label for="">Total</label>
                <input type="text" class="form-control" [value]="inscripcion.total | currency: 'C$'" disabled>
            </div>
            <button class="btn btn-primary" (click)="guardarInscripcion()">Guardar</button>
        </div>
        <div class="col-sm-6">
            <div *ngIf="clienteSeleccionado.imgUrl">
                <img [src]="clienteSeleccionado.imgUrl" class="imgCliente" alt="">
            </div>
        </div>
    </div>
</div>