<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi Perfil de Usuario</h4>
                <h6 class="card-subtitle">Ajustes</h6>

                <form class="form-horizontal p-t-20" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()">
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Username*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Nombre del Usuario" formControlName="nombre">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" formControlName="email" [readOnly]="usuario.google">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" class="btn btn-block btn-success waves-effect waves-light" [disabled]="perfilForm.invalid">
                              <i class="fas fa-save"></i>
                              Submit
                          </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del Usuario</h6>
                <div class="text-center">
                    <img *ngIf="!imgTemp" [src]="usuario.ImagenUsuario" class="img-avatar" alt="">
                    <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" alt="">
                </div>
                <input type="file" (change)="cambiarImagen($event.target.files[0])">
                <br>
                <br>
                <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()" class="btn btn-block btn-success waves-effect waves-light">
                  <i class="fas fa-save">
                  </i>
                  Cambiar Imagen
              </button>
            </div>
        </div>
    </div>
</div>
