<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 *ngIf="id === undefined" class="m-b-0 text-white">Nuevo Proyecto</h4>
                <h4 *ngIf="id !== undefined" class="m-b-0 text-white">Actualizar Proyecto</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="proyectoForm" autocomplete="off" (ngSubmit)="agregarProyecto(proyectoForm.value)">
                    <div class="form-body">
                        <h3 class="card-title">Información</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre Proyecto</label>
                                    <input type="text" id="nombre" class="form-control" formControlName="nombreProyecto" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Contrato</label>
                                    <input type="text" id="email" class="form-control" formControlName="contrato" [class.is-invalid]="contratoNoValido" [class.is-valid]="contratoValido">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">fecha_inicio</label>
                                    <input type="date" id="firstName" class="form-control" formControlName="fecha_inicio" [class.is-invalid]="fechaInicioNoValido" [class.is-valid]="fechaInicioValido">
                                    <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">fecha_final</label>
                                    <input type="date" id="lastName" class="form-control" formControlName="fecha_final" [class.is-invalid]="fechaFinalNoValido" [class.is-valid]="fechaFinalValido">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Cliente</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" formControlName="id_cliente" tabindex="1">
                                      <option value="">Seleccion Cliente</option>
                                      <option *ngFor="let cliente of listarCliente" [value]="cliente.data.nombre">{{cliente.data.nombre}}</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="form-group">
                                    <label class="control-label">Estado</label>
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                          <input id="radio1" name="finalizado" type="radio" checked="" class="custom-control-input" [value]="true" formControlName="finalizado">
                                          <span class="custom-control-indicator"></span>
                                          <span class="custom-control-description">Activo</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                          <input id="radio2" name="finalizado" type="radio" class="custom-control-input" [value]="false" formControlName="finalizado">
                                          <span class="custom-control-indicator"></span>
                                          <span class="custom-control-description">Finalizado</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions mt-5">
                        <button *ngIf="!esEditable" type="submit" class="btn btn-success ml-2" [disabled]="!proyectoForm.valid"><i class="fas fa-plus-circle"></i>  Agregar</button>
                        <button *ngIf="esEditable" type="submit" class="btn btn-primary ml-2" [disabled]="!proyectoForm.valid" (click)="actualizarProyecto()"><i class="fas fa-sync-alt"></i>  Actualizar</button>
                        <button type="button" class="btn btn-inverse ml-2" (click)="cancelar()"><i class="fas fa-eraser"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>