<div class="dropdown-menu mailbox dropdown-menu-right animated fadeIn fast" aria-labelledby="2">
    <ul>
        <li>
            <div class="drop-title">tienes {{listarContacto.length}} nuevos mensajes</div>
        </li>
        <li>
            <div class="message-center">
                <!-- Message -->
                <a href="#" *ngFor="let contacto of listarContacto">
                    <div class="user-img"> <img src="./assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                        <h5>{{contacto.data.nombre}}</h5> <span class="mail-desc">{{contacto.data.correo}}</span> <span class="time">{{contacto.data.telefono}}</span> </div>
                </a>
            </div>
        </li>
        <li>
            <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
        </li>
    </ul>
</div>