<div class="clientes">
    <div class="form-group" *ngIf="!nombre">
        <label for="">Categoria</label>
        <input class="form-control" placeholder="Buscar Cliente" (input)="buscarCategorias($event.target.value)">
    </div>
    <div class="form-group" *ngIf="nombre">
        <label for="">Clientes</label>
        <div class="row">
            <div class="col-sm-8">
                <input [(ngModel)]="nombre" disabled type="text" class="form-control">
            </div>
            <div class="col-sm-4">
                <button (click)="cancelarCategoria()" class="form-control btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="list-group shadow">
        <div *ngFor="let categoria of categorias">
            <a *ngIf="categoria.visible" (click)="seleccionarCategoria(categoria)" class="list-group-item list-group-item-action">{{categoria.nombre}}</a>
        </div>
    </div>
</div>