<h3 class="p-relative">
  <span class="lstick"></span> Bandeja de Entrada
  <span class="pull-right font-14  p-2 label label-rounded label-success">{{listarContacto.length}}</span>
</h3>
<div class="msg-widget m-t-20">
    <!-- Message Item -->
    <div class="msg-item pb-2" *ngFor="let contacto of listarContacto">
        <div class="msg-body">
            {{contacto.data.mensaje}}
            <span class="dwn-aro"></span>
        </div>
        <div class="m-t-20 d-flex">
            <div class="m-pic m-r-20">
              <i class="fas fa-user-tie"></i>
            </div>
            <div class="author">
                <h5 class="m-b-0">{{contacto.data.nombre}} <i class="ml-5 fas fa-trash-alt" style="color: red; cursor: pointer"></i></h5>
                <p class="text-muted font-14"><i class="fa fa-phone" aria-hidden="true"></i> {{contacto.data.telefono}} <br> <i class="fa fa-envelope" aria-hidden="true"></i> {{contacto.data.correo}}</p>
              </div>
        </div>
    </div>
</div>


