<div class="col-lg-12">
    <div class="card">
        <div class="card-header bg-info">
            <h4 class="m-b-0 text-white"></h4>
        </div>
        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#general" role="tab" aria-expanded="true">Datos Generales</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#sociales" role="tab" aria-expanded="false">Redes Sociales</a> </li>
            </ul>
            <!-- Tab panes -->
        <div class="tab-content">
            <!-- Datos Generales -->
        <div class="tab-pane active" id="general" role="tabpanel" aria-expanded="true">
            <div class="card-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body" *ngFor="let info of listadoInformacion">
                        <h3 class="box-title mt-5 mb-3"></h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3"><strong>Dirección:</strong></label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> {{info.data.Direccion}} </p>
                                    </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"><strong>Horario Semanal:</strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.Horario_Semanal}} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"><strong>Fin de Semana:</strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.Horario_FinSemana}} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"><strong>Telefono:</strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.Telefono}} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"><strong>Correo:</strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.correo}} </p>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    </div>
                </form>
                <button type="button" class="btn btn-success align-content-center justify-content-center" data-toggle="modal" data-target="#infogeneral-modal" (click)="visualizarInformacionGeneral()"> <i class="fas fa-pen"></i> Actualizar</button>
            </div>
        </div>
    <!-- Redes Sociales -->
    <div class="tab-pane" id="sociales" role="tabpanel" aria-expanded="false">
        <div class="card-body">
            <form class="form-horizontal" role="form">
                <div class="form-body" *ngFor="let info of listadoInformacion">
                    <h3 class="box-title mt-5 mb-3"></h3>
                    <hr class="m-t-0 m-b-40">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"> <strong>Linkedin: </strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.linkedin}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"> <strong>Facebook: </strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.facebook}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3"> <strong>Instagram: </strong></label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> {{info.data.instagram}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </form>
            <button type="button" class="btn btn-success align-content-center justify-content-center" data-toggle="modal" data-target="#redes-modal" (click)="visualizarRedesSociales()"> <i class="fas fa-pen"></i> Actualizar</button>
        </div>
    </div>
</div>

<!-- Modal Informacion General-->
<div id="infogeneral-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualización Informacion General</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form autocomplete="false" [formGroup]="infoGeneralForm" (ngSubmit)="actualizarInfoGeneral()">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Direccion:</label>
                        <input type="text" class="form-control" formControlName="Direccion" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Horario Semanal:</label>
                        <input type="text" class="form-control" formControlName="Horario_Semanal" id="message-text">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Horario Sabado:</label>
                        <input type="text" class="form-control" formControlName="Horario_FinSemana" id="message-text">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Telefono:</label>
                        <input type="text" class="form-control" formControlName="Telefono" id="message-text">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">correo:</label>
                        <input type="text" class="form-control" formControlName="correo" id="correo" [class.is-invalid]="correoNoValido" [class.is-valid]="correoValido">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="submit" [disabled]="!infoGeneralForm.valid" class="btn btn-success waves-effect waves-light">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Redes Sociales-->
<div id="redes-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualización Redes Sociales</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form autocomplete="false" [formGroup]="redesForm" (ngSubmit)="actualizarRedes()">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Linkedin:</label>
                        <input type="text" class="form-control" formControlName="linkedin" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Facebook:</label>
                        <input class="form-control" formControlName="facebook" id="message-text">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Instagram:</label>
                        <input class="form-control" formControlName="instagram" id="message-text">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="!redesForm.valid" class="btn btn-success waves-effect waves-light">Actualizado</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>