<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Nuevo Cliente</h4>
            </div>
            <div class="card-body">
                <div class="form-body">
                     <h3 class="card-title">Información</h3>
                    <hr>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <app-seleccionar-categoria [nombre]="categoriaSeleccionado.nombre" (seleccionoCategoria)="asignarCategoria($event)" (canceloCategoria)="eliminarCategoria()"></app-seleccionar-categoria>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Nombre Proyecto</label>
                                <input type="text" class="form-control" [(ngModel)]="inscripcion.nombre">
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Descripcion</label>
                                <textarea type="text" class="form-control" rows="10" [(ngModel)]="inscripcion.descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Foto Portada</label>
                            <input type="file" (change)="subirImagen($event)" class="form-control-file" [value]="inscripcion.fotoPortada">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <progressbar [value]="progreso" type="danger" [striped]="true">{{progreso}}%</progressbar>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Foto 1</label>
                            <input type="file" (change)="subirImagen1($event)" class="form-control-file" [value]="inscripcion.foto_1">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <progressbar [value]="progreso1" type="danger" [striped]="true">{{progreso1}}%</progressbar>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                        <label for="">Foto 2</label>
                        <input type="file" (change)="subirImagen2($event)" class="form-control-file" [value]="inscripcion.foto_2">
                    </div>
                </div>
                    <div class="col-sm-12">
                        <br>
                        <progressbar [value]="progreso2" type="danger" [striped]="true">{{progreso2}}%</progressbar>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Foto 3</label>
                            <input type="file" (change)="subirImagen3($event)" class="form-control-file" [value]="inscripcion.foto_3">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <progressbar [value]="progreso3" type="danger" [striped]="true">{{progreso3}}%</progressbar>
                    </div>
                    <button *ngIf="!esEditable" class="btn btn-primary ml-3 mt-5" (click)="guardarInscripcion()"><i class="fas fa-plus-circle"></i>  Agregar</button>
                    <!-- <button *ngIf="esEditable" class="btn btn-success ml-3 mt-5" (click)="actualizarInscripcion()"><i class="fas fa-sync-alt"></i>  Actualizar</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
