<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Nuevo Cliente</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="clienteForm" autocomplete="off" (ngSubmit)="agregarCliente()">
                    <div class="form-body">
                        <h3 class="card-title">Información</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="email" class="form-control" formControlName="email" [class.is-invalid]="emailNoValido" [class.is-valid]="emailValido">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">RUC</label>
                                    <input type="text" id="firstName" class="form-control" formControlName="ruc" [class.is-invalid]="rucNoValido" [class.is-valid]="rucValido">
                                    <!-- <small class="form-control-feedback"> This is inline help </small>  -->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Telefono</label>
                                    <input type="text" id="lastName" class="form-control" formControlName="telefono" [class.is-invalid]="telefonoNoValido" [class.is-valid]="telefonoValido">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Siglas</label>
                                    <input type="text" id="telefono" class="form-control" formControlName="siglas" [class.is-invalid]="siglasNoValido" [class.is-valid]="siglasValido">
                                    <!-- <small class="form-control-feedback"> This field has error. </small> -->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Sector</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" formControlName="sector" tabindex="1">
                                            <option value="">Seleccione Sector</option>
                                            <option value="Publico">Publico</option>
                                            <option value="Privado">Privado</option>
                                        </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="">Imagen</label>
                                <br>
                                <img class="pt-5" *ngIf="!imgTemp" [src]="urlImg" class="avatar" alt="">
                                <img class="pt-5" *ngIf="imgTemp" [src]="imgTemp" class="avatar" alt="">
                                <br><br>
                                <input class="btn btn-success" type="file" (change)="subirImagen($event)" class="form-control-file" formControlName="imgUrl">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <progressbar [value]="progreso" type="danger" [striped]="true">{{progreso}}%</progressbar>
                        </div>
                    </div>
                    <div class="form-actions mt-5">
                        <button *ngIf="!esEditable" type="submit" class="btn btn-success ml-2" [disabled]="!clienteForm.valid"><i class="fas fa-plus-circle"></i>  Agregar</button>
                        <button *ngIf="esEditable" type="submit" class="btn btn-primary ml-2" [disabled]="!clienteForm.valid" (click)="actualizarCliente()"><i class="fas fa-sync-alt"></i>  Actualizar</button>
                        <button type="button" class="btn btn-inverse ml-2" (click)="cancelar()"><i class="fas fa-eraser"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>