<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Ingresar Nueva Galeria</h4>
            </div>
            <div class="card-body">
                <form class="form-horizontal" autocomplete="off" [formGroup]="galeriaForm" (ngSubmit)="crearGaleria(galeriaForm.value)">
                    <div class="form-body">
                        <h3 class="box-title">Información Galeria</h3>
                        <hr class="m-t-0 m-b-40">
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Proyecto</label>
                                    <div class="col-md-9">
                                        <select class="form-control custom-select" formControlName="nombreProyecto">
                                          <option [value]="">-- Seleccionar Proyecto --</option>
                                        <option *ngFor="let proyecto of proyectos" [value]="proyecto.data.nombre">{{proyecto.data.nombre}}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Cliente</label>
                                    <div class="col-md-9">
                                        <select class="form-control custom-select" formControlName="nombreCliente">
                                          <option [value]="">-- Seleccionar Cliente --</option>
                                          <option *ngFor="let cliente of clientes" [value]="cliente.data.siglas">{{cliente.data.siglas}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Foto 1</label>
                                    <br>
                                    <img class="pt-5" *ngIf="imgTemp" [src]="Foto_1" class="avatar" alt="">
                                    <img class="pt-5" *ngIf="!imgTemp" [src]="uploadService.urlImg_1" class="avatar" alt="">
                                    <br><br>
                                    <input class="btn btn-success" type="file" (change)="subirImagen1($event)" class="form-control-file" ormControlName="Foto_1">
                                    <br>
                                    <progressbar [value]="uploadService.progreso_1" type="info" [striped]="true">{{uploadService.progreso_1}}%</progressbar>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Foto 2</label>
                                    <br>
                                    <img class="pt-5" *ngIf="imgTemp" [src]="Foto_2" class="avatar" alt="">
                                    <img class="pt-5" *ngIf="!imgTemp" [src]="uploadService.urlImg_2" class="avatar" alt="">
                                    <br><br>
                                    <input class="btn btn-success" type="file" (change)="subirImagen2($event)" class="form-control-file" ormControlName="Foto_2">
                                    <br>
                                    <progressbar [value]="uploadService.progreso_2" type="info" [striped]="true">{{uploadService.progreso_2}}%</progressbar>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Foto 3</label>
                                    <br>
                                    <img class="pt-5" *ngIf="imgTemp" [src]="Foto_3" class="avatar" alt="">
                                    <img class="pt-5" *ngIf="!imgTemp" [src]="uploadService.urlImg_3" class="avatar" alt="">
                                    <br><br>
                                    <input class="btn btn-success" type="file" (change)="subirImagen3($event)" class="form-control-file" ormControlName="Foto_3">
                                    <br>
                                    <progressbar [value]="uploadService.progreso_3" type="info" [striped]="true">{{uploadService.progreso_3}}%</progressbar>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Foto 4</label>
                                    <br>
                                    <img class="pt-5" *ngIf="imgTemp" [src]="Foto_4" class="avatar" alt="">
                                    <img class="pt-5" *ngIf="!imgTemp" [src]="uploadService.urlImg_4" class="avatar" alt="">
                                    <br><br>
                                    <input class="btn btn-success" type="file" (change)="subirImagen4($event)" class="form-control-file" ormControlName="Foto_4">
                                    <br>
                                    <progressbar [value]="uploadService.progreso_4" type="info" [striped]="true">{{uploadService.progreso_4}}%</progressbar>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Foto 5</label>
                                    <br>
                                    <img class="pt-5" *ngIf="imgTemp" [src]="Foto_5" class="avatar" alt="">
                                    <img class="pt-5" *ngIf="!imgTemp" [src]="uploadService.urlImg_5" class="avatar" alt="">
                                    <br><br>
                                    <input class="btn btn-success" type="file" (change)="subirImagen5($event)" class="form-control-file" ormControlName="Foto_5">
                                    <br>
                                    <progressbar [value]="uploadService.progreso_5" type="info" [striped]="true">{{uploadService.progreso_5}}%</progressbar>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Foto 6</label>
                                    <br>
                                    <img class="pt-5" *ngIf="imgTemp" [src]="Foto_6" class="avatar" alt="">
                                    <img class="pt-5" *ngIf="!imgTemp" [src]="uploadService.urlImg_6" class="avatar" alt="">
                                    <br><br>
                                    <input class="btn btn-success" type="file" (change)="subirImagen6($event)" class="form-control-file" ormControlName="Foto_6">
                                    <br>
                                    <progressbar [value]="uploadService.progreso_6" type="info" [striped]="true">{{uploadService.progreso_6}}%</progressbar>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button *ngIf="!esEditable" type="submit" class="btn btn-success ml-2"><i class="fas fa-plus-circle"></i>  Agregar</button>
                                        <button *ngIf="esEditable" type="submit" class="btn btn-primary ml-2" (click)="actualizarGaleria()"> <i class="fas fa-sync-alt"></i>  Actualizar</button>
                                        <button type="button" class="btn btn-inverse ml-2" (click)="cancelar()"><i class="fas fa-eraser" ></i> Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>