<div class="card animated fadeIn fast">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-8">
                <h4 class="card-title">Categoria de Proyectos ({{listarCategoria.length}})</h4>
                <h6 class="card-subtitle">Categorias Registradas</h6>
            </div>
            <div class="col">
                <div class="text-right">
                    <a class="btn btn-primary" [routerLink]="['/dashboard/categoria/nuevo']" routerLinkActive="router-link-active"> <i class="fas fa-user-tie"></i> Crear Categoria</a>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!cargando">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th class="w100 text-center text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of listarCategoria">
                        <td>{{categoria.data.nombre}}</td>
                        <td class="w100 text- text-center">
                            <a [routerLink]="['/dashboard/categoria', categoria.id]" class="ml-2" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a class="ml-2" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Borrar" (click)="deleteCliente(categoria.id, categoria.data.nombre)"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>