.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector,
.cursor {
    cursor: pointer;
}

#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
}