<div class="card animated fadeIn fast">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-8">
                <h4 class="card-title">Proyectos ({{listadoProyecto.length}})</h4>
                <h6 class="card-subtitle">Proyectos Registrados</h6>
            </div>
            <div class="col">
                <div class="text-right">
                    <a class="btn btn-primary" [routerLink]="['/dashboard/proyecto/nuevo']" routerLinkActive="router-link-active"> <i class="fas fa-drafting-compass"></i> Crear Proyecto</a>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!cargando">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Contrato</th>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th class="w100 text-center text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of listadoProyecto">
                        <td>{{proyecto.data.nombre}}</td>
                        <td>{{proyecto.data.contrato}}</td>
                        <td>{{proyecto.data.id_cliente }}</td>
                        <td class="w100 text- text-center">
                            <span *ngIf="proyecto.data.finalizado" class="label label-success label-rounded">Activo</span>
                            <span *ngIf="!proyecto.data.finalizado" class="label label-danger label-rounded">Inactivo</span>
                        </td>
                        <!-- <td>{{proyecto.data.finalizado}}</td> -->
                        <td class="w120 text- text-center">
                            <a [routerLink]="['/dashboard/proyecto', proyecto.id]" class="ml-1" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a class="ml-1" data-toggle="tooltip" data-original-title="Detalles"><i class="fas fa-eye"></i></a>
                            <a class="ml-2" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Borrar" (click)="deleteProyecto(proyecto.id, proyecto.data.nombre)"> <i class="fa fa-close text-danger"></i> </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>