<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/income.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Clientes Registrado</h6>
                        <h2 class="m-t-0">{{clientes.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Proyectos Registrado</h6>
                        <h2 class="m-t-0">{{proyecto.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/assets.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Galeria Publicadas</h6>
                        <h2 class="m-t-0">{{galeria.length}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <aside class="right-side-panel ps ps--theme_default" data-ps-id="299a3198-4f01-75af-e577-66e26b324dc6">
            <div class="row">
                <!-- Weather Widget -->
                <div class="col-md-12 m-t-10">
                    <h5 class="text-muted m-b-0">San Francisco, CA</h5>
                    <h3>{{dia | slice:0:3}}, {{fecha}} {{hora}}:{{minutos}}:{{segundos}} {{ampm}}</h3>
                    <div class="d-flex m-t-20">
                        <div class="display-5 text-info"><i class="wi wi-day-cloudy"></i></div>
                        <div class="m-l-20">
                            <h2 class="m-b-0">72°F</h2>
                            <h6>Clear with periodic clouds</h6>
                        </div>
                    </div>
                    <hr>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="wi wi-day-cloudy"></i> Saturday</td>
                                <td class="text-right font-medium">65 ° F</td>
                            </tr>
                            <tr>
                                <td><i class="wi wi-day-sunny"></i> Sunday</td>
                                <td class="text-right font-medium">70 ° F</td>
                            </tr>
                            <tr>
                                <td><i class="wi wi-day-sprinkle"></i> Monday</td>
                                <td class="text-right font-medium">73 ° F</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <!-- End Weather Widget -->
                <!-- Message Widget -->
                <div class="col-md-12 m-t-10">
                  <app-mensaje></app-mensaje>
                </div>
                <!-- End Message Widget -->
            </div>
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </aside>
    </div>
</div>
