<div class="card animated fadeIn fast">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-8">
                <h4 class="card-title">Clientes ({{listarCliente.length}})</h4>
                <h6 class="card-subtitle">Clientes Registrados</h6>
            </div>
            <div class="col">
                <div class="text-right">
                    <a class="btn btn-primary" [routerLink]="['/dashboard/cliente/nuevo']" routerLinkActive="router-link-active"> <i class="fas fa-user-tie"></i> Crear Cliente</a>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!cargando">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="w100">Foto</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>RUC</th>
                        <th class="w100 text-center text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of listarCliente">
                        <td>
                            <img class="img-avatar cursor text-center" [src]="cliente.data.imgUrl" [alt]="cliente.data.nombre">
                        </td>
                        <td>{{cliente.data.siglas}}</td>
                        <td>{{cliente.data.telefono}}</td>
                        <td>{{cliente.data.email}} </td>
                        <td>{{cliente.data.ruc}}</td>
                        <td class="w100 text- text-center">
                            <a [routerLink]="['/dashboard/cliente', cliente.id]" class="ml-2" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                            <a class="ml-2" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Borrar" (click)="deleteCliente(cliente.id, cliente.data.nombre)"> <i class="fa fa-close text-danger"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>